/*
 * Miryoku Layout for Chocofi (ZMK)
 * Layers: Base, Nav, Mouse, Button, Media, Sym, Fun, Extra
 * Based on https://github.com/manna-harbour/miryoku
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    base_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |     |     |  J  |  L  |  U  |  Y  |  ;  | BKSP |
// |  A  |  R  |  S  |  T  |  G  |     |     |  M  |  N  |  E  |  I  |  O  |  '   |
// |  Z  |  X  |  C  |  D  |  V  |     |     |  K  |  H  |  ,  |  .  |  /  | ESC  |
//               | Super | Alt | Ctrl |      | Shift | Sym | Fun |
      bindings = <
  &kp Q &kp W &kp F &kp P &kp B             &kp J &kp L &kp U &kp Y &kp SEMI &kp BSPC
  &kp A &kp R &kp S &kp T &kp G             &kp M &kp N &kp E &kp I &kp O &kp SQT
  &kp Z &kp X &kp C &kp D &kp V             &kp K &kp H &kp COMMA &kp DOT &kp FSLH &kp ESC
             &kp LGUI &kp LALT &kp LCTRL    &kp LSHFT &mo 5 &mo 6
      >;
    };

    nav_layer {
// -----------------------------------------------------------------------------------------
// |      | Alt | Ctrl | Shift |     |       |       | Redo | Paste | Copy | Cut | Undo |
// |      |     |      |       |     |       |       | Caps | ← | ↓ | ↑ | → | End |
// |      |     |      |       |     |       |       | Ins | Home | PgDn | PgUp |       |
//               | Super |      |      |     |      |      |
      bindings = <
  &trans &kp LALT &kp LCTRL &kp LSHFT &trans         &trans &kp REDO &kp PASTE &kp COPY &kp CUT &kp UNDO
  &trans &trans &trans &trans &trans                   &trans &kp CAPS &kp LEFT &kp DOWN &kp UP &kp RIGHT
  &trans &trans &trans &trans &trans                   &trans &kp INS &kp HOME &kp PG_DN &kp PG_UP &trans
             &kp LGUI &trans &trans                    &trans &trans &trans
      >;
    };

    mouse_layer {
// -----------------------------------------------------------------------------------------
// |      | Alt | Ctrl | Shift |     |       |       | Redo | Paste | Copy | Cut | Undo |
// |      |     |      |       |     |       |       | ← | ↓ | ↑ | → | Middle |
// |      |     |      |       |     |       |       | Right | Left |      |      |      |
//               | Super |      |      |     |      |      |
      bindings = <
  &trans &kp LALT &kp LCTRL &kp LSHFT &trans         &trans &kp REDO &kp PASTE &kp COPY &kp CUT &kp UNDO
  &trans &trans &trans &trans &trans                   &trans &kp MS_LEFT &kp MS_DOWN &kp MS_UP &kp MS_RIGHT &kp MS_MID
  &trans &trans &trans &trans &trans                   &trans &kp MS_RIGHT &kp MS_LEFT &trans &trans &trans
             &kp LGUI &trans &trans                    &trans &trans &trans
      >;
    };

    button_layer {
// -----------------------------------------------------------------------------------------
// | Undo | Cut | Copy | Paste | Redo |      |      | Redo | Paste | Copy | Cut | Undo |
// | Super| Alt | Ctrl | Shift |      |      |      | Shift| Ctrl | Alt  | Super|      |
// |      | Cut | Copy | Paste | Redo |      |      | Redo | Paste| Copy | Cut  |      |
//               | Left | Right | Middle |   | Left | Right | Middle |
      bindings = <
  &kp UNDO &kp CUT &kp COPY &kp PASTE &kp REDO        &kp REDO &kp PASTE &kp COPY &kp CUT &kp UNDO
  &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &trans        &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &trans
  &trans &kp CUT &kp COPY &kp PASTE &kp REDO          &kp REDO &kp PASTE &kp COPY &kp CUT &trans
             &kp MS_LEFT &kp MS_RIGHT &kp MS_MID      &kp MS_LEFT &kp MS_RIGHT &kp MS_MID
      >;
    };

    media_layer {
// -----------------------------------------------------------------------------------------
// |      | Alt | Ctrl | Shift |     |      |      | RGB_TOG | RGB_MOD | RGB_HUE | RGB_SAT | RGB_VAL |
// |      |     |      |       |     |      |      | Prev | Play | Next | Vol- | Vol+ |
// |      |     |      |       |     |      |      | BT0 | BT1 | BT2 | BT3 | MUTE |
//               | Super |      |      |    |      |      |
      bindings = <
  &trans &kp LALT &kp LCTRL &kp LSHFT &trans          &trans &rgb_tog &rgb_mod &rgb_hue &rgb_sat &rgb_val
  &trans &trans &trans &trans &trans                    &trans &kp C_PREV &kp C_PLAY_PAUSE &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP
  &trans &trans &trans &trans &trans                    &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp C_MUTE
             &kp LGUI &trans &trans                     &trans &trans &trans
      >;
    };

    sym_layer {
// -----------------------------------------------------------------------------------------
// | { | & | * | ( | ) |     |     |     |     |     |     |     |     |
// | : | $ | % | ^ | + |     |     |     |     |     |     |     |     |
// | ~ | ! | @ | # | | |     |     |     |     |     |     |     |     |
//               | Shift | Ctrl | Alt |   | Super |   |   |
      bindings = <
  &kp LBRC &kp AMPS &kp KP_MULTIPLY &kp LPAR &kp RPAR      &trans &trans &trans &trans &trans &trans
  &kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS          &trans &trans &trans &trans &trans &trans
  &kp TILDE &kp EXCL &kp AT &kp HASH &kp PIPE              &trans &trans &trans &trans &trans &trans
             &kp LSHFT &kp LCTRL &kp LALT                 &kp LGUI &trans &trans
      >;
    };

    fun_layer {
// -----------------------------------------------------------------------------------------
// | F12 | F7 | F8 | F9 | PrtSc | SysRq |   |   |   |   |   |   |   |
// | F11 | F4 | F5 | F6 | Scroll Lock | = |   |   |   |   |   |   |
// | F10 | F1 | F2 | F3 | Pause | Break |   |   |   |   |   |   |
//               |      | Spc |      |   |      |      |      |
      bindings = <
  &kp F12 &kp F7 &kp F8 &kp F9 &kp PSCRN &kp SYSREQ         &trans &trans &trans &trans &trans &trans
  &kp F11 &kp F4 &kp F5 &kp F6 &kp SCROLL_LOCK &kp EQUAL    &trans &trans &trans &trans &trans &trans
  &kp F10 &kp F1 &kp F2 &kp F3 &kp PAUSE_BREAK &trans        &trans &trans &trans &trans &trans &trans
             &trans &kp SPACE &trans                         &trans &trans &trans
      >;
    };

    extra_layer {
// -----------------------------------------------------------------------------------------
// | Boot | Tap | Extra | Base |   |      |      | Base | Extra | Tap | Boot |      |
// | Opp  | Cur | _ | _ |   |      |      | _ | Cur | Opp | _ |      |
//               |      |      |      |   |      |      |      |
      bindings = <
  &bootloader &trans &trans &trans &trans                 &trans &trans &trans &trans &trans &trans
  &trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans &trans
             &trans &trans &trans                         &trans &trans &trans
      >;
    };
  };
};

